body {
    margin: 0;
    padding: 0;
    border: 0;
    background: lightgray url("../images/115InfusedTemple.png") no-repeat;
}

canvas {
    display: block;
    margin: 0 auto;
}

.heading {
    border-bottom: 1px dashed black;
    margin-bottom: 12px;
}